.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 3vw;
    }
  }
  

.category-title{
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
}